<template>
  <v-container fluid class="mt-10">
    <v-row class="d-flex justify-center">
      <v-col cols="10">
        <v-card class="grey lighten-5">
          <v-card-title class="headline font-weight-regular blue-grey white--text">
            Mis reservas
            <v-spacer></v-spacer>
            <v-btn class="px-8" color="success" @click="goPrincipal()">Menú principal</v-btn>
          </v-card-title>
          <v-card-text>
            <v-subheader class="pa-0">Reservas pendientes:</v-subheader>
            <div v-if="myQuotes.length === 0">
              <div class="d-flex justify-center mb-10">
                <h1>SIN RESERVAS</h1>
              </div>
            </div>
            <div v-else>
              <v-row v-for="quote in myQuotes" :key="quote.codigoReserva">
                <v-col cols="12">
                  <v-card>
                    <v-row class="mx-5">
                      <v-card-title>Reserva: {{quote.codigoReserva}}</v-card-title>
                      <v-spacer></v-spacer>
                      <v-card-title>Fecha: {{ quote.fechaReserva.substr(0,10) }}</v-card-title>
                      <v-spacer></v-spacer>
                      <v-card-title
                        :style="quote.estado === 1 ? 'color: #4caf50' : 'color: red'"
                      >{{ quote.estado === 1 ? 'Activa' : 'Inactiva' }}</v-card-title>
                    </v-row>
                    <v-card-text>
                      <v-row>
                        <v-col cols="3" class="ml-10">
                          <b>Datos del Pasajero:</b>
                          <v-row>
                            <v-col class="ml-10">
                              <v-input>Nombre: {{ quote.pasajero.nombre }}</v-input>
                              <v-input>Apellido: {{ quote.pasajero.apellido }}</v-input>
                              <v-input>DNI: {{ quote.pasajero.dni }}</v-input>
                              <v-input>Teléfono: {{ quote.pasajero.telefono }}</v-input>
                              <v-input>Email: {{ quote.pasajero.email }}</v-input>
                            </v-col>
                          </v-row>
                        </v-col>
                        <v-col cols="5">
                          <b>Datos del Vehículo:</b>
                          <v-row>
                            <v-col class="ml-10">
                              <v-input>Modelo: {{ quote.vehiculo.modelo }}</v-input>
                              <v-input>Marca: {{ quote.vehiculo.marca }}</v-input>
                              <v-input>Puntaje: {{ quote.vehiculo.puntaje }} estrellas</v-input>
                              <v-input>Tiene dirección: {{ quote.vehiculo.tieneDireccion === '1' ? 'Sí' : 'No' }}</v-input>
                              <v-input>Tiene aire acondicionado: {{ quote.vehiculo.tieneAireAcon === '1' ? 'Sí' : 'No' }}</v-input>
                            </v-col>
                            <v-col>
                              <v-input>Cantidad de puertas: {{ quote.vehiculo.cantidadPuertas }}</v-input>
                              <v-input>Tipo de cambio: {{ quote.vehiculo.tipoCambio }}</v-input>
                            </v-col>
                          </v-row>
                        </v-col>
                        <v-col cols="3">
                          <b>Datos del Reserva:</b>
                          <v-row>
                            <v-col class="ml-10">
                              <v-input>Responsable: {{ quote.usuarioReserva }}</v-input>
                              <v-input>Fecha de retiro: {{ quote.fechaHoraRetiro.substr(0,10) }}</v-input>
                              <v-input>Fecha de devolución: {{ quote.fechaHoraDevolucion.substr(0,10) }}</v-input>
                              <v-input>Total: $ {{ quote.totalReserva }} (ARS)</v-input>
                            </v-col>
                          </v-row>
                        </v-col>
                        <v-col cols="12" class="d-flex justify-center">
                          <v-btn
                            class="px-8"
                            :hidden="quote.estado != 1"
                            :loading="loading"
                            color="success"
                            @click="cancelQuote(quote)"
                          >
                            Cancelar reserva
                            <template v-slot:loader>
                              <span>Cancelando...</span>
                            </template>
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { httpBackend, swal } from "../share.js";
import { mapState } from "vuex";
export default {
  data() {
    return {
      loading: false
    };
  },
  computed: {
    ...mapState(["myQuotes"])
  },
  created() {
    this.$store.dispatch("getMyQuotes");
  },
  methods: {
    goPrincipal() {
      this.$router.push({ path: "/" });
    },
    cancelQuote(quote) {
      this.loading = true;
      httpBackend
        .post("quotes/cancel", { codigoReserva: quote.codigoReserva })
        .then(() => {
          httpBackend.post("/quotes/update/" + quote._id);
          swal
            .fire({
              title: "Reserva cancelada!",
              text: "Deseas volver al menú principal? ?",
              icon: "success",
              showCancelButton: true,
              confirmButtonText: "Sí!",
              cancelButtonText: "No, deseo continuar aquí"
            })
            .then(result => {
              if (result.value) {
                // volver a menu principal
                this.$router.push({ path: "/" });
              } else if (result.dismiss === swal.DismissReason.cancel) {
                // continuar en el lugar
                window.location.reload();
              }
            });
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => {
          this.loading = false;
        });
    }
  }
};
</script>