<template>
  <v-container fluid class="mt-10">
    <v-row class="d-flex justify-center">
      <v-col cols="10">
        <v-card class="grey lighten-5">
          <v-card-title
            class="headline font-weight-regular blue-grey white--text"
          >Detalle de cotización</v-card-title>
          <v-card-text>
            <v-subheader class="pa-0">Ingresa tus datos:</v-subheader>
            <v-row>
              <v-col cols="4" offset-sm="1">
                <v-text-field :rules="[requiredRule]" label="Nombre" v-model="client.name"></v-text-field>
                <v-text-field :rules="[requiredRule]" label="Apellido" v-model="client.lastName"></v-text-field>
                <v-text-field :rules="[requiredRule]" label="Documento" v-model="client.document"></v-text-field>
                <v-text-field :rules="[requiredRule]" label="Teléfono" v-model="client.phone"></v-text-field>
                <v-text-field
                  :rules="[requiredRule, emailRule]"
                  label="Correo electrónico"
                  v-model="client.email"
                ></v-text-field>
              </v-col>
              <v-col cols="1"></v-col>
              <v-col cols="6">
                <v-row>
                  <v-col>
                    <v-subheader class="pa-0">Estás reservando:</v-subheader>
                  </v-col>
                </v-row>
                <v-row class="d-flex justify-center">
                  <v-col offset-sm="1">
                    <v-input>
                      <b>Ciudad:</b>
                      {{ quoteData.ciudad.nombre }}
                    </v-input>
                    <v-input>
                      <b>Marca:</b>
                      {{ quoteData.vehiculo.marca }}
                    </v-input>
                    <v-input>
                      <b>Modelo:</b>
                      {{ quoteData.vehiculo.modelo }}
                    </v-input>
                    <v-input>
                      <b>Puntaje:</b>
                      {{ quoteData.vehiculo.puntaje }}
                    </v-input>
                  </v-col>
                  <v-col>
                    <v-input>
                      <b>Dirección:</b>
                      {{ quoteData.vehiculo.tieneDireccion === '1' ? 'Sí' : 'No' }}
                    </v-input>
                    <v-input>
                      <b>Aire acond.:</b>
                      {{ quoteData.vehiculo.tieneAireAcon === '1' ? 'Sí' : 'No' }}
                    </v-input>
                    <v-input>
                      <b>Cant. puertas:</b>
                      {{ quoteData.vehiculo.cantidadPuertas }}
                    </v-input>
                    <v-input>
                      <b>Tipo cambio:</b>
                      {{ quoteData.vehiculo.tipoCambio }}
                    </v-input>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-input>
                      <b>Cantidad de días:</b>
                      {{ quoteData.cantidadDias }}
                    </v-input>
                    <v-input>
                      <b>Precio por día: $</b>
                      {{ quoteData.precioPorDia }} (ARS)
                    </v-input>
                    <v-input>
                      <b>Precio total (+%20): $</b>
                      {{ quoteData.precioTotal * 1.2 }}
                    </v-input>
                  </v-col>
                  <v-col class="d-flex justify-center mt-5">
                    <v-btn
                      class="px-8"
                      :loading="loading"
                      :disabled="checkButtonDisable"
                      color="success"
                      @click="confirmQuote()"
                    >
                      Confirmar reserva
                      <template v-slot:loader>
                        <span>Aguarda...</span>
                      </template>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import { httpBackend, swal } from "../share.js";
export default {
  data() {
    return {
      client: {
        name: "",
        lastName: "",
        document: "",
        phone: "",
        email: ""
      },
      loader: null,
      emailRule: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || "Invalid e-mail.";
      },
      requiredRule: value => !!value || "Required.",
      loading: false
    };
  },
  computed: {
    ...mapState(["quoteData"]),
    checkButtonDisable() {
      let res = false;
      if (
        this.client.name === "" ||
        this.client.lastName === "" ||
        this.client.document === "" ||
        this.client.phone === "" ||
        this.client.email === ""
      )
        res = true;
      return res;
    }
  },
  methods: {
    confirmQuote() {
      this.loading = true;
      let quoteToSend = {
        idCotizacion: this.quoteData.id,
        pasajero: {
          nombre: this.client.name,
          apellido: this.client.lastName,
          dni: this.client.document,
          telefono: this.client.phone,
          email: this.client.email
        }
      };

      httpBackend
        .post("/quotes/confirmQuote", quoteToSend)
        .then(() => {
          swal
            .fire({
              title: "Reserva confirmada!",
              text: "Deseas ver tu lista de reservas ?",
              icon: "success",
              showCancelButton: true,
              confirmButtonText: "Sí!",
              cancelButtonText: "No, deseo volver a cotizar"
            })
            .then(result => {
              if (result.value) {
                // ver reservas
                this.$router.push({ path: "/myquotes" });
              } else if (result.dismiss === swal.DismissReason.cancel) {
                // volver a cotizar
                this.$router.push({ path: "/" });
              }
            });
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => (this.loading = false));
    }
  }
};
</script>