<template>
  <v-container fluid class="mt-10">
    <div v-if="isInitializing" class="loading">
      <Jumper :size="90"></Jumper>
    </div>
    <div v-else>
      <v-row class="d-flex justify-center">
        <v-col cols="10">
          <v-card class="grey lighten-5">
            <v-card-title class="headline font-weight-regular blue-grey white--text">
              Realizar cotización
              <v-spacer></v-spacer>
              <v-btn class="px-8" color="success" @click="goMyQuotes()">Mis reservas</v-btn>
            </v-card-title>
            <v-card-text>
              <v-subheader class="pa-0">Busca un lugar:</v-subheader>
              <v-row>
                <!-- COUNTRY INPUT SELECT -->
                <v-col>
                  <v-autocomplete
                    v-model="countrySelected"
                    :items="getCountryNames"
                    :label="`País`"
                    persistent-hint
                    prepend-icon="mdi-city"
                  >
                    <template v-slot:append-outer>
                      <v-slide-x-reverse-transition mode="out-in">
                        <div v-if="countrySelected != ''">
                          <v-icon :color="'success'" v-text="'mdi-check-outline'"></v-icon>
                        </div>
                      </v-slide-x-reverse-transition>
                    </template>
                  </v-autocomplete>
                </v-col>
                <!-- PROVINCE INPUT SELECT -->
                <v-col>
                  <v-autocomplete
                    v-model="provinceSelectedName"
                    :items="provinceNames"
                    :label="`Provincia`"
                    persistent-hint
                    prepend-icon="mdi-city"
                  >
                    <template v-slot:append-outer>
                      <v-slide-x-reverse-transition mode="out-in">
                        <div v-if="provinceSelectedName != ''">
                          <v-icon :color="'success'" v-text="'mdi-check-outline'"></v-icon>
                        </div>
                      </v-slide-x-reverse-transition>
                    </template>
                  </v-autocomplete>
                </v-col>
                <!-- DATE FROM INPUT SELECT -->
                <v-col cols="12" sm="6" md="4">
                  <v-menu
                    ref="menuFrom"
                    v-model="menuFrom"
                    :close-on-content-click="false"
                    :return-value.sync="dateFrom"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="dateFrom"
                        label="Desde"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="dateFrom" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menuFrom = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.menuFrom.save(dateFrom)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
                <!-- DATE UNTIL INPUT SELECT -->
                <v-col cols="12" sm="6" md="4">
                  <v-menu
                    ref="menuUntil"
                    v-model="menuUntil"
                    :close-on-content-click="false"
                    :return-value.sync="dateUntil"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="dateUntil"
                        label="Hasta"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="dateUntil" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menuUntil = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.menuUntil.save(dateUntil)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                  <div class="text-center">
                    <v-btn
                      class="ma-2 px-8"
                      :loading="loading"
                      :disabled="hideQuote"
                      color="success"
                      @click="getQuote()"
                    >
                      Cotizar
                      <template v-slot:loader>
                        <span>Aguarda...</span>
                      </template>
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="d-flex justify-center" v-if="quoteInfo.length != 0">
        <v-col cols="10">
          <v-card class="grey lighten-5">
            <v-card-title
              class="headline font-weight-regular blue-grey white--text"
            >Resultados de cotización</v-card-title>
            <v-card-text>
              <v-subheader class="pa-0">Datos de los vehículos:</v-subheader>
              <v-row>
                <v-col cols="9" @click="hideContinue = false">
                  <v-data-table
                    :headers="headers"
                    :items="quoteInfo"
                    :items-per-page="3"
                    class="elevation-1"
                  >
                    <template v-slot:item="{ item }">
                      <tr @click="rowClicked(item)">
                        <td>{{item.ciudad.nombre}}</td>
                        <td>{{item.vehiculo.marca}}</td>
                        <td>{{item.vehiculo.modelo}}</td>
                        <td>{{item.vehiculo.puntaje}}</td>
                        <td>{{item.vehiculo.tieneDireccion}}</td>
                        <td>{{item.vehiculo.tieneAireAcon}}</td>
                        <td>{{item.vehiculo.cantidadPuertas}}</td>
                        <td>{{item.vehiculo.tipoCambio}}</td>
                      </tr>
                    </template>
                  </v-data-table>
                </v-col>
                <v-col class="mt-10 ml-10">
                  <v-btn
                    class="ma-2 px-8"
                    :disabled="hideContinue"
                    color="success"
                    @click="continueQuote()"
                  >Continuar</v-btn>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import { httpBackend } from "../share.js";
import { Jumper } from "vue-loading-spinner";
export default {
  name: "Search",
  data() {
    return {
      hideQuote: true,
      hideContinue: true,
      isInitializing: true,
      dateFrom: new Date().toISOString().substr(0, 10),
      menuFrom: false,
      dateUntil: new Date().toISOString().substr(0, 10),
      menuUntil: false,
      loader: null,
      loading: false,
      provinceNames: [],
      countries: [],
      provinces: [],
      countrySelected: "",
      provinceSelectedName: "",
      provinceSelectedId: "",
      //Datatable info
      headers: [
        { text: "Ciudad", value: "ciudad.nombre" },
        { text: "Marca", value: "vehiculo.marca" },
        { text: "Modelo", value: "vehiculo.modelo" },
        { text: "Puntaje", value: "vehiculo.puntaje" },
        { text: "Dirección", value: "vehiculo.tieneDireccion" },
        { text: "Aire acond.", value: "vehiculo.tieneAireAcon" },
        { text: "Cant. puertas", value: "vehiculo.cantidadPuertas" },
        { text: "Tipo cambio", value: "vehiculo.tipoCambio" }
      ],
      quoteInfo: []
    };
  },
  components: {
    Jumper
  },
  mounted() {
    this.getCountries();
  },
  methods: {
    getCountries() {
      httpBackend
        .get("/locations")
        .then(respuesta => {
          this.countries = respuesta.data.countries;
        })
        .catch(err => {
          console.log("Error al obtener Países", err);
        })
        .finally(() => (this.isInitializing = false));
    },
    getQuote() {
      /* this.loader = "loading"; */
      this.loading = true;
      const dataToQuote = {
        countryName: this.countrySelected,
        provinceId: this.provinceSelectedId,
        dateFrom: this.dateFrom,
        dateUntil: this.dateUntil
      };
      /* console.log("País: ", this.countrySelected, ". Nombre provincia: ", this.provinceSelectedName, " Id provincia: ", this.provinceSelectedId, " Fecha desde: ", this.dateFrom, " Fecha hasta: ", this.dateUntil); */
      httpBackend
        .post("/quotes", dataToQuote)
        .then(res => {
          this.quoteInfo = res.data.quoteInfo;
          /* console.log("res.data tiene: ", this.quoteInfo); */
          /* this.quoteInfo.push(res.data.quoteInfo); */
        })
        .catch(error => {
          console.log("Error: ", error);
        })
        .finally(() => {
          this.loading = false;
        });
    },
    rowClicked(item) {
      this.$store.commit("setQuoteData", item);
    },
    continueQuote() {
      this.$router.push({ path: "/quote" });
    },
    goMyQuotes() {
      this.$router.push({ path: "/myquotes" });
    }
  },
  computed: {
    getCountryNames() {
      const names = this.countries.map(country => country.nombre);
      return names;
    }
  },
  watch: {
    countrySelected() {
      const countryObj = this.countries.filter(
        country => country.nombre === this.countrySelected
      );
      const countryId = countryObj[0].id;
      /* console.log("id que estoy por mandar: ", countryId); */
      httpBackend
        .post("/locations/country/provinces", { countryId: countryId })
        .then(res => {
          this.provinces = res.data.provinces;
          this.provinceNames = res.data.provinceNames;
          /* console.log("this.provinces tiene : ", res.data.provinces);
          console.log("this.provinceNames tiene : ", res.data.provinceNames); */
        });
    },
    provinceSelectedName() {
      const provinceSelected = this.provinces.find(
        province => province.nombre === this.provinceSelectedName
      );
      /* console.log("provinceSelected: ", provinceSelected); */
      this.provinceSelectedId = provinceSelected.id;
      this.hideQuote = false;
    }
  }
};
</script>

<style>
.search-location {
  display: block;
  width: 60vw;
  margin: 0 auto;
  margin-top: 5vw;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
}

.search {
  border-radius: 25px;
}

nav form {
  background-color: #0879fa;
}

form .inputSearch {
  border-radius: 25px;
}

form .btnSearch {
  background-color: #454545;
  color: white;
  border-radius: 5px;
}

form .btnSearch:hover {
  background-color: white;
  color: #454545;
}

.loading {
  margin: 300px 50%;
}
</style>