<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">CarRentalCor</div>
    </v-app-bar>
    <router-view></router-view>
    <!-- <Search/> -->
  </v-app>
</template>

<script>
/* import Search from './components/Search' */
export default {
  name: "App",

  /* components: { Search }, */

  data() {
    return {};
  }
};
</script>
